
<span class="Titulo-Aplicacion">Buscar Por categoria</span>		
<span class="Separador_Modulo"></span>	


<div class="Contenedor-Elemento-Formulario">
    <span class="Sub-Titulo-Formulario">Seleccione la categoria para buscar los cursos disponibles</span>
    <select class="input-style" id="Scategoria"></select>  
</div>

<section id="resultado" class="Sub-Titulo-Formulario"></section>

<div class="Contenedor-Tabla">	
	<table class="Tabla-Aplicacion" id="tabla">
		
	</table>
</div>

<script src="include/jquery-ui.js"></script>
<script type="text/javascript" src="../trabajador/controlador/eventosscript/funcionescomunes.js"></script>  
<script type="text/javascript" src="../trabajador/controlador/eventosscript/trabajador/buscarporcategoria.js"></script>