<span class="Titulo-Aplicacion">Buscar Por Nombre</span>		
<span class="Separador_Modulo"></span>	

<section id="alerta" class="Sub-Titulo-Formulario"></section>

<div class="Contenedor-Elemento-Formulario">
    <span class="Sub-Titulo-Formulario">Nombre del curso</span>
    <input type="text" class="input-style"  id="tnombre"  />
</div>



<div class="Contenedor-Elemento-Formulario" id="Contenedor-Elemento-Formulario-aux">
    <div class="Principio-Boton"> </div>
    <input name="Aceptar" class="Boton" type="submit"  value="Aceptar"  id="aceptar"/>
    <div class="Final-Boton"></div>
</div>
<br>
<span class="Separador_Modulo"></span><br>
<section id="resultado" class="Sub-Titulo-Formulario"></section>
<div class="Contenedor-Tabla">	
	<table class="Tabla-Aplicacion" id="tabla">
		
	</table>
</div>	

<script src="include/jquery-ui.js"></script>
<script type="text/javascript" src="../trabajador/controlador/eventosscript/funcionescomunes.js"></script>  
<script type="text/javascript" src="../trabajador/controlador/eventosscript/trabajador/buscarpornombre.js"></script>