<span class="Titulo-Aplicacion">Ver Notificaciones</span>		
<span class="Separador_Modulo"></span>	
						  
<!-- <section id="resultado" class="Sub-Titulo-Formulario"></section> -->
<div class="Contenedor-Tabla">	
	<table class="Tabla-Aplicacion" id="tabla" width="100%">
		
	</table>
</div>	

<script type="text/javascript" src="../trabajador/controlador/eventosscript/funcionescomunes.js"></script>  
<script type="text/javascript" src="../trabajador/controlador/eventosscript/trabajador/vernotificaciones.js"></script>