 <span class="Titulo-Aplicacion">VER TRABAJADORES</span>		
<span class="Separador_Modulo"></span>	
<form id="form4" name="form4" method="post" action="">
	    
		<div class="Contenedor-Elemento-Formulario">
		    <span  class="Sub-Titulo-Formulario"> Seleccione el Area: </span>
		    <select id="sareas" class="input-style"></select>	       
		</div>

<!-- 		<div class="Contenedor-Elemento-Formulario" id="Contenedor-Elemento-Formulario-aux">
		    <div class="Principio-Boton"> </div>
		    <input name="Aceptar" class="Boton" type="submit"  value="Aceptar" />
		    <div class="Final-Boton"></div>
		    <div class="Principio-Boton"> </div>
		    <input name="Cancelar" class="Boton" type="submit"  value="Cancelar" />
		    <div class="Final-Boton"> </div>
		</div> -->
</form>
<span class="Separador_Modulo"></span>	


	<section id="resultado" class="Sub-Titulo-Formulario"></section>
	<div class="Contenedor-Tabla">	
		<table class="Tabla-Aplicacion" id="tabla">
			
		</table>
	</div>




<script type="text/javascript">
	cargarAreas();
   	function cargarAreas(){
        $.ajax
            ({
              type: "POST",
              url: "../controlador/Cempleados.php",
              data: {id:1},
              async: true,  
              dataType: "json",  
              success:
              function (msg) 
                { 
                                    
                     $('#sareas').empty();           
                     $('#sareas').append(' <option value="0" disabled selected> --Seleccione un Area -- </option>');
                     for (var i =0 ; i<msg[0].m; i++) {  
                          $('#sareas').append('<option value="'+msg[i].idarea+'" >'+msg[i].nombrearea+'</option>');
            		}
            		setTimeout(function(){
                		$("#wait").css("display", "none");
                	}, 1000);
                	eventosSareas();
                    
                },
              error:
              function (msg) {console.log( msg +" No se pudo realizar la conexion");}
            });
    }


    function eventosSareas(){
	    $('#sareas').change(function () {
			$("#wait").css("display", "block");
	       	console.log("Valor del area: "+$('#sareas').val());
	       


		       	$.ajax
	            ({
	              type: "POST",
	              url: "../controlador/Cempleados.php",
	              data: {id:2, idarea:$('#sareas').val()},
	              async: true,  
	              dataType: "json",  
	              success:
	              function (msg) 
	                { 
	                      console.log(msg);
	                      $('#tabla').html("");   	 	                  
	                     ListarTabla(msg);
		                    
	                },
	              error:
	              function (msg) {console.log( msg +" No se pudo realizar la conexion");}
	            });
	       
	    });
    }

    function ListarTabla(msg){         
				var row1=$('<tr></tr>');
				var fila00=$('<th></th>').text("Nº");

				var fila0=$('<th></th>').text("Codigo");
				var fila1=$('<th></th>').text("Nombre");
				var fila2=$('<th></th>').text("Apellido");
				var fila3=$('<th></th>').text("Indicador");
				var fila4=$('<th></th>').text("Rol");
				row1.append(fila00);

				row1.append(fila0);
				row1.append(fila1);
				row1.append(fila2);
				row1.append(fila3);
				row1.append(fila4); 
				$('#tabla').append(row1);
				resultado.innerHTML='Mostrando '+msg[0].m+' resultados encontrados';
                for(i=0; i<msg[0].m; i++){                   
                        var row3=$('<tr></tr>');
                        var fila00=$('<td></td>').text((i+1));

                        var fila0=$('<td></td>').text(msg[i].codigoempleado);
                        var fila1 = $('<td></td>').text(msg[i].nombre);
                        var fila2 = $('<td></td>').text(msg[i].apellido);
                        var fila3 = $('<td></td>').text(msg[i].indicador);
                        var fila4 = $('<td></td>').text(msg[i].rol); 
                        row3.append(fila00);
                        row3.append(fila0);

                        row3.append(fila1);
                        row3.append(fila2);
                        row3.append(fila3);  
                        row3.append(fila4);

						$('#tabla').append(row3);           
                }
        		setTimeout(function(){$("#wait").css("display", "none");}, 1000);
            }


</script>