<span class="Titulo-Aplicacion">ProponerCurso</span>		
<span class="Separador_Modulo"></span>	

<section id="alerta" class="Sub-Titulo-Formulario"></section>
<div class="Contenedor-Formulario">
		<form id="form4" name="form4" method="post" action="" onsubmit="return false;">

			<div class="Contenedor-Elemento-Formulario">
			    <span class="Sub-Titulo-Formulario"> Nombre del Curso</span>
                <input type="text" class="input-style"  name="textfield2" id="tnombre" value="instrumentacion" />
			</div>
			<div class="Contenedor-Elemento-Formulario">
			    <span class="Sub-Titulo-Formulario">Fecha del curso</span>
                <input type="date" class="input-style"  name="textfield2" id="tfecha"  value="2015-06-24"/>
			</div>
			<div class="Contenedor-Elemento-Formulario">
			    <span class="Sub-Titulo-Formulario">Sitio</span>
                <input type="text" class="input-style"  name="textfield2" id="tsitio" value="plc" />
			</div>
			<div class="Contenedor-Elemento-Formulario">
			    <span class="Sub-Titulo-Formulario">Cupos</span>
                <input type="number" class="input-style"  name="textfield2" id="tcupos" value="40" />
			</div>
			<div class="Contenedor-Elemento-Formulario">
			    <span class="Sub-Titulo-Formulario">Dictado por:</span>
			    <select class="input-style" id="Sdictadopor"></select>
			</div>
			<div class="Contenedor-Elemento-Formulario">
			    <span class="Sub-Titulo-Formulario"> Duracion</span>
                <input type="text" class="input-style"  name="textfield2" id="tduracion" value=" 1 mes" />
			</div>
			<div class="Contenedor-Elemento-Formulario">
			    <span class="Sub-Titulo-Formulario"> Categoria</span>
			    <select class="input-style" id="Scategoria"></select>
               
			</div>
			<div class="Contenedor-Elemento-Formulario" id="Contenedor-Elemento-Formulario-aux">
			    <div class="Principio-Boton"> </div>
			    <input name="Aceptar" class="Boton" type="submit"  value="Aceptar"  id="aceptar"/>
			    <div class="Final-Boton"></div>
			    <div class="Principio-Boton"> </div>
			    <input name="Cancelar" class="Boton" type="submit"  value="Cancelar"  id="cancelar"/>
			    <div class="Final-Boton"> </div>
			</div>
    </form>
</div>
<script type="text/javascript" src="../controlador/eventosscript/funcionescomunes.js"></script>
<script type="text/javascript" src="../controlador/eventosscript/trabajador/proponercurso.js"></script>

