
<span class="Titulo-Aplicacion">Aprobar Postulacion</span>		
<span class="Separador_Modulo"></span>	

<section id="resultado" class="Sub-Titulo-Formulario"></section>
<div class="Contenedor-Tabla">	
	<table class="Tabla-Aplicacion" id="tabla">
		
	</table>
</div>


<script type="text/javascript" src="../supervisor/controlador/eventosscript/supervisor/aprobarpostulacion.js"></script>