<link rel="stylesheet" type="text/css" href="css/comunes.css">
<style type="text/css">
	#alerta{
		  color: #666;
		  display: inline;		
		  font-family: Arial, sans-serif;
		  font-size: 12px;		
		  margin: 0;		
		  text-align: left;		  
		}
</style>
<span class="Titulo-Aplicacion">Asignar Estatus a curso</span>		
<span class="Separador_Modulo"></span>

<section id="resultado" class="Sub-Titulo-Formulario"></section>
<section id="alerta" class="Sub-Titulo-Formulario"></section>
<div class="Contenedor-Tabla">	
	<table class="Tabla-Aplicacion" id="tabla">
		
	</table>
</div>	

<section id="formulario" style="display:none;">

			<div class="Contenedor-Elemento-Formulario">
			    <span class="Sub-Titulo-Formulario"> Nombre del Curso</span>
                <input type="text" class="input-style"  name="textfield2" id="tnombre"  disabled="true"/>
			</div>
			<div class="Contenedor-Elemento-Formulario">
			    <span class="Sub-Titulo-Formulario">Fecha del curso</span>
                <input type="date" class="input-style"  name="textfield2" id="tfecha" disabled="true" />
			</div>
			<div class="Contenedor-Elemento-Formulario">
			    <span class="Sub-Titulo-Formulario">Sitio</span>
                <input type="text" class="input-style"  name="textfield2" id="tsitio"  disabled="true" />
			</div>
			<div class="Contenedor-Elemento-Formulario">
			    <span class="Sub-Titulo-Formulario">Cupos</span>
                <input type="number" class="input-style"  name="textfield2" id="tcupos"  disabled="true" />
			</div>
			<div class="Contenedor-Elemento-Formulario">
			    <span class="Sub-Titulo-Formulario">Dictado por:</span>
			    <select class="input-style" id="Sdictadopor" disabled="true" ></select>
			</div>
			<div class="Contenedor-Elemento-Formulario">
			    <span class="Sub-Titulo-Formulario"> Duracion</span>
                <input type="text" class="input-style"  name="textfield2" id="tduracion"  disabled="true" />
			</div>
			<div class="Contenedor-Elemento-Formulario">
			    <span class="Sub-Titulo-Formulario"> Categoria</span>
			    <select class="input-style" id="Scategoria" disabled="true"></select>
               
			</div>
			<div class="Contenedor-Elemento-Formulario">
			    <span class="Sub-Titulo-Formulario">Estado del curso:</span>
			    <select class="input-style" id="Sestados2"></select>
               
			</div>
			<br>
			<div class="Contenedor-Elemento-Formulario" id="Contenedor-Elemento-Formulario-aux">
				<div class="Principio-Boton"> </div>
			    <input name="Aceptar" class="Boton" type="submit"  value="<- Volver"  id="volver"/>
			    <div class="Final-Boton"></div>
			    <div class="Principio-Boton"> </div>
			    <input name="Cancelar" class="Boton" type="submit"  value="Modificar"  id="modificar"/>
			    <div class="Final-Boton"> </div>

			     <!--<div class="Principio-Boton"> </div>
			    <input name="Cancelar" class="Boton" type="submit"  value="Eliminar"  id="cancelar"/>
			    <div class="Final-Boton"> </div> -->
		    </div>

<!-- 			<div class="Contenedor-Elemento-Formulario" id="Contenedor-Elemento-Formulario-aux">
			    <div class="Principio-Boton"> </div>
			    <input name="Aceptar" class="Boton" type="submit"  value="Aceptar"  id="aceptar"/>
			    <div class="Final-Boton"></div>
			    <div class="Principio-Boton"> </div>
			    <input name="Cancelar" class="Boton" type="submit"  value="Cancelar"  id="cancelar"/>
			    <div class="Final-Boton"> </div>
			</div> -->
   
</section>

  <script src="include/jquery-ui.js"></script>
<script type="text/javascript" src="../supervisor/controlador/eventosscript/funcionescomunes.js"></script>
<script type="text/javascript" src="../supervisor/controlador/eventosscript/supervisor/asignarstatus.js"></script>