<span class="Titulo-Aplicacion">Listado de cursos no realizados</span>		
<span class="Separador_Modulo"></span>	

<section id="resultado" class="Sub-Titulo-Formulario"></section>
<div class="Contenedor-Tabla" id="contenedortabla">	
	<table class="Tabla-Aplicacion" id="tabla">
		
	</table>
</div>
	<div id="paginacion" style="position:absolute; bottom:10px; ">
		
	</div>
	<div  >
		<div class="Contenedor-Elemento-Formulario" id="Contenedor-Elemento-Formulario-aux">
		    <div class="Principio-Boton"> </div>
		    <input name="Aceptar" class="Boton" type="submit"  value="Exportar"  id="exportar"/>
		    <div class="Final-Boton"></div>
		</div>
	</div>
<script type="text/javascript" src="../supervisor/controlador/eventosscript/funcionescomunes.js"></script>
<script type="text/javascript" src="../supervisor/controlador/eventosscript/supervisor/reportecursosnorealizados.js"></script>