    	.Vista {
		  background-position: 169px;
		   background-image: url(vista/imagenes-aplicacion/fondo.png); 
		/*  background-repeat: repeat-y;*/
		  float: left;
		  margin: -7px 0 0;
		  width: 780px;
		}
		#form1{
			position: relative;
			left: 300px;
			padding-top: 20px;
			padding-bottom: 100px;
		}
		#main{
			padding-top: 80px;

		}
		#alerta{
			  color: #666;
		  display: inline;
		
		  font-family: Arial, sans-serif;
		  font-size: 12px;
		
		  margin: 0;
		  padding-top: 40px;
		  text-align: left;
		  
		}